.wrap {
display: flex;
}
.search-panel {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    padding: 10px 0 10px 46px;
    width: calc(95% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
}
.search-icon {
    position: absolute;
    margin-right: 10px;
    align-self: center;
    left: 15px;
}

